<nav>
  <a href='/'>Strona Główna</a>
  <a href='/books/books-list'>Lista Książek</a>
  <a href='/category/categories-list'>Lista Kategorii</a>
  <a href='/publisher/publishers-list'>Lista Wydawnictw</a>
</nav>